<div class="extra-pagination">
	{{pagination}}
</div>

{{#foreach posts}}

<article class="{{post_class}}">
	<div class="inner">
		<header class="post-header">
			{{^has tag="#micropost"}}
				<h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
				<span class="post-meta"><a href="/about-me">{{primary_author.name}}</a> {{tags prefix=(t "on ") separator=", "}} | <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time></span>
			{{else}}
				<a href="{{url}}"><span class="post-meta" style="font-size: 2rem"><span style="font-size:120%">🗒</span> {{primary_author.name}} | <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time></span></a>
			{{/has}}
			<div class="clear"></div>
		</header>

		<section class="post-excerpt">
			{{^has tag="#micropost"}}
				<p>{{excerpt}}&hellip;</p>
			{{else}}
				<p>{{content}}</p>
			{{/has}}
		</section>
	</div>
</article>

{{/foreach}}

{{pagination}}
